<footer>
  <div class="wrapper">
  <div class="col one">
    <h1>Coffee Brothers</h1>
    <p>123 Coffee road</p>
    <p>New York, NY 10000</p>
    <p>(555) 555-555</p>
    <h1>Made With Coffee</h1>
  </div>
  <div class="col four">
    <h1>Resources</h1>
    <a class="footer-a">Coffee Guides</a>
    <a class="footer-a">Blog</a>
    <a class="footer-a">Our Mission</a>
    <a class="footer-a">Earn Rewards</a>
    <a class="footer-a">Coffee Drink Calculator</a>
    <a class="footer-a">Coffee Giveaway</a>
  </div>
  <div class="col three">
    <h1>Customer Support</h1>
    <a class="footer-a">wholesale</a>
    <a class="footer-a">Corporate Gifting</a>
    <a class="footer-a">Return Policy</a>
    <a class="footer-a">Terms and Privacy Policy</a>
    <a class="footer-a">Affiliate Program</a>
    <a class="footer-a">Coffee Ambassador</a>
    <a class="footer-a">Contact Us</a>
  </div>
  <div class="col two">
    <button><i-feather name="facebook"></i-feather></button>
    <button><i-feather name="twitter"></i-feather></button>
    <button><i-feather name="instagram"></i-feather></button>
  </div>
</div>
<div class="spacer"></div>
<div class="bottom-foot">
  <div class="svg-payments">
    <i class="fa-brands fa-cc-visa fa-2x" style="color: hsl(200deg, 73%, 70%);"></i>
    <i class="fa-brands fa-cc-discover fa-2xl" style="color:hsl(200deg, 73%, 70%);"></i>
    <i class="fa-brands fa-google-pay fa-2x" style="color: hsl(200deg, 73%, 70%);"></i>
    <i class="fa-brands fa-cc-amex fa-2x" style="color: hsl(200deg, 73%, 70%);"></i>
    <i class="fa-brands fa-cc-apple-pay fa-2x" style="color: hsl(200deg, 73%, 70%);"></i>
    <i class="fa-brands fa-cc-amazon-pay fa-2x" style="color: hsl(200deg, 73%, 70%);"></i>
    <i class="fa-brands fa-cc-paypal fa-2x" style="color: hsl(200deg, 73%, 70%);"></i>
    <i class="fa-brands fa-cc-mastercard fa-2xl" style="color: hsl(200deg, 73%, 70%);"></i>
  </div>
  <div>&copy; 2023, Coffee Brothers. Powered by CJ</div>
</div>
</footer>

<!-- //add border at the bottom with all the different payment options as svgs in a flex-row -->
