<footer>
  <div class="col one">
    <h1>Coffee Brothers</h1>
    <p>123 Coffee road</p>
    <p>New York, NY 10000</p>
    <p>(555) 555-555</p>
    <h1>Made With Coffee</h1>
  </div>
  <div class="col two">
    <button><i-feather name="facebook"></i-feather></button>
    <button><i-feather name="twitter"></i-feather></button>
    <button><i-feather name="instagram"></i-feather></button>
  </div>
</footer>

<!-- //add border at the bottom with all the different payment options as svgs in a flex-row -->
