body {
  width: 100%;
}

footer {
  --min-foot-size: 200px;
  width: 100%;
  background-color: hsl(165.56,79.41%,23.33%);
  padding: 32px;
}

.wrapper {
  width: 100%;
  display: flex;
  height: fit-content;
  padding: 32px;
  justify-content: space-around;
  align-items: flex-start;
}


.spacer {
  margin-top: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;

}

.col {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
}

.col.one h1:first-of-type {
  margin-bottom: 16px;
  font-weight: 500;
  color: white;
  font-size: 2rem;
}

.col.one > p {
  font-weight: 300;
  color: white;
}

.col.one h1:last-of-type {
  margin-top: 16px;
  font-weight: 300;
  color: white;
}

.col.two > button {
  color: white;
  padding: 8px;
  margin-left: auto;
}

.col.two > button:hover {
  color: black;
}

.col.three {
  gap:16px;
}

.col.four {
  gap: 16px;
}

.col.four h1:first-of-type{
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

.col.four > a {
  color: white;
  cursor: pointer;
  font-weight: 300;
}

.col.four > a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.col.three h1:first-of-type{
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

.col.three > a {
  color: white;
  cursor: pointer;
  font-weight: 300;
}

.col.three > a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}


.bottom-foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 24px;
}

.bottom-foot div:last-of-type {
  color: white;
}

.svg-payments {
  padding: 8px;
  display: flex;
  gap: 16px;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
}

.footer-a {
  font-size: 1.15rem;
  font-weight: var(--font-weight-light);
}

@media (max-width: 860px){

  .wrapper {
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }

  .svg-payments {
    flex-wrap: wrap;
  }

}

@media(max-width: 300px){
  .wrapper {
    align-items: center;
  }
}
