body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  padding: 32px;
}

.sub-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 32px;
  --font-weight-light: 450;
  font-weight: var(--font-weight-light);
}

.product-grid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-areas:
  'aside product main';
  justify-items: center;
  align-items: start;
  height: fit-content;
}

aside {
  grid-area: aside;
  gap: 16px;
  width: 100%;

}

.aside-img-container {
  width: 100%;
  height: 100px;
  margin-bottom: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.aside-img-container button {
  width: 100%;
  height: 100%;
}

.aside-img-container:hover {
  outline: 2px solid #1196AB;
  box-shadow: 0 0 24px 8px #c8f3fa;
}


figure {
  grid-area: product;
}

.figure-img-container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
}

.figure-img-container img {
  object-fit: contain;
  object-position: center;
}

main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

main h1:first-of-type {
  font-size: 2rem;
  font-weight: 600;
}

.price {
  font-size: 1.25rem;
  font-weight: 600;
}

.product-description {
  --font-weight-light: 450;
  font-weight: var(--font-weight-light);
  line-height: 1.5rem;
  text-align: justify;
  hyphens: auto;
  word-break: break-word;
}

.quantity {
  --font-weight-light: 450;
  font-weight: var(--font-weight-light);
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 75px;
  border: 1px solid black;
}

.cart-button {
  width: 75%;
  height: 50px;
  background-color: white;
  color: black;
  font-weight: var(--font-weight-light);
  font-size: 1.75rem;
  margin-right: auto;
  border: 1px solid black;
  transition: background-color 200ms;
}

.cart-button:hover {
  box-shadow: 0 0 0 1px;
}

.also-like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.products-grid {
  --min-size: 500px;
  display: grid;
  gap: 32px;
  justify-items: center;
  align-content: center;
  grid-auto-flow: dense;
  grid-template-columns:
  repeat(auto-fill, minmax(min(var(--min-size),100%), 1fr));
  min-height: 100%;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -moz-box-pack: justify;
  max-width: 344px;
  padding: 16px;
}

.product-button:hover .product-name {
  color: hsla(26, 94%, 58%, 1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }

  /* 50%{
    opacity: 0.5;
  }
  60% {
  opacity: 0.5;
  } */
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.card-img:hover {
  animation: fade-in 600ms ease-in-out;
  transform: scale(1.05);
}

.card-img {
  background-color: white;
  padding: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 214px;
  width: 100%;
  will-change: transform;
  transition: transform 500ms ease-in;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px;
  gap: 8px;
}

.product-name {
  font-size: 1.15rem;
  font-weight: var(--font-weight-medium);
  transition: color 125ms;
}

.image-container {
  position: relative;
}

/* .products-grid > button:hover .card-img-2 {
  opacity: 1;
}

.products-grid button:hover .card-img {
  opacity: 0;
} */

/* .card-img-2 {
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right:0;
  padding-bottom: 16px;
  padding-top: 16px;
  object-fit: cover;
  aspect-ratio: 3/1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 700ms ease-in-out;
} */

.spacer {
  display: block;
  height: 6rem;
  width: 100%;
  background-color: white;
}

.product-name {
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
}

.quantity-grid {
  color:hsla(187, 8%, 78%);
  padding-top: 4px;
}


