<div class="wrapper" *ngIf="product$ |async as product">
  <div
    *ngIf="product.name.length > 0 ; else noProduct"
   class="sub-header">Product<span class="featured-product">{{product.name | titlecase}}</span></div>
   <ng-template #noProduct>
    <div class="no-product">No items are currently loaded. Choose an item to display</div>
  </ng-template>
  <div class="spacer"></div>
  <div class="product-grid">
    <aside *ngIf="product.image.length > 0; else noProductBox">
      <div class="aside-img-container"  [ngStyle]="{'background-image' : 'url(' + product.image + ')'}"><button (click)="updateImage(true)"></button></div>
      <div class="aside-img-container" [ngStyle]="{'background-image' : 'url(' + product.altImage + ')'}">  <button (click)="updateImage(false)"></button></div>
    </aside>
    <ng-template #noProductBox>
    </ng-template>
    <figure *ngIf="product.image.length > 0; else noImage">
      <div class="figure-img-container" [ngSwitch]="showPicture">
        <img class="fig-img" *ngSwitchCase='true' [src]="product.image">
        <img class="fig-img" *ngSwitchCase="false" [src]="product.altImage">
        <img class="fig-img" *ngSwitchDefault [src]="product.image">
      </div>
    </figure>
    <ng-template #noImage>
    </ng-template>
    <main>
      <h1>{{product.name}}</h1>
      <p class="price">{{product.price | currency}}</p>
      <p class="product-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit incidunt nulla natus unde voluptates laborum,
        ipsa atque dolorum aperiam harum? Ex, ipsum optio. Quisquam corrupti, repellat pariatur saepe in blanditiis.</p>
      <p class="quantity">Quantity:</p>
      <div class="box-container">
        <button class="p-2 bg-white text-black rounded-full text-3xl" (click)="decrementQuantity()">-</button>
        <span>{{ quantity }}</span>
        <button class="p-2 bg-white text-black rounded-full text-3xl" (click)="incrementQuantity(product.quantity)">+</button>
        <div
        *ngIf="quantity == product.quantity"
        class="max-quan"
        >
        Max Available!
      </div>
      </div>
      <button class="cart-button" (click)="addToCart(product)" (click)="showElement()">
        <div id="appear" class="added-to-cart">
          Added to Cart!
        </div>
        Add To Cart
      </button>
    </main>
  </div>
  <div class="spacer"></div>
  <div class="also-like">You Might Also Like</div>
  <div class="products-grid">
    <div
    class="card" (click)="viewProduct(product)"
    *ngFor="let product of products; let i = index"
    >
      <!-- <button class="product-button" (click)="scrollToTop()">
        <div
        [ngStyle]="{
          'background-image': 'url(' + product.image + ')'
        }"
        class="card-img"
        id="varImage{{i}}"
        (mouseover)="changeToAltImage(product, i)"
        (mouseout)="changeToReg(product,i)"
       > -->
       <button class="product-button" (click)="scrollToTop()">
        <div
        [ngStyle]="{
          'background-image': 'url(' + product.image + ')'
        }"
        class="card-img"
       >
      </div>
        <div class="content">
          <h1 class="product-name">{{product.name | titlecase}}</h1>
          <h1 class="currency-size">{{product.price | currency}}</h1>
        </div>
      </button>
    </div>
  </div>
  <div class="fixed-element" id="fixedElement">
    <span class="close-btn" (click)="hideFixedElement()">x</span>
    Save 15% off with code 'coffee'
  </div>
</div>

