<div class="wrapper" *ngIf="product$ |async as product">
  <div class="sub-header">Product > {{product.name | titlecase}}</div>
  <div class="product-grid">
    <aside>
      <div class="aside-img-container">
        <button (click)="updateImage(true)">
        <img
          [src]="product.image">
        </button>
      </div>
      <div class="aside-img-container">
        <button (click)="updateImage(false)">
        <img  [src]="product.altImage">
      </button>
      </div>
    </aside>
    <figure>
      <div class="figure-img-container" [ngSwitch]="showPicture">
        <img *ngSwitchCase='true' [src]="product.image">
        <img *ngSwitchCase="false" [src]="product.altImage">
        <img *ngSwitchDefault [src]="product.image">
      </div>
    </figure>
    <main>
      <h1>{{product.name}}</h1>
      <p class="price">{{product.price | currency}}</p>
      <p class="product-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit incidunt nulla natus unde voluptates laborum,
        ipsa atque dolorum aperiam harum? Ex, ipsum optio. Quisquam corrupti, repellat pariatur saepe in blanditiis.</p>
      <p class="quantity">Quantity:</p>
      <div class="box-container">
        <button class="p-2 bg-white text-black rounded-full" (click)="decrementQuantity()">-</button>
        <span>{{ quantity }}</span>
        <button class="p-2 bg-white text-black rounded-full" (click)="incrementQuantity(product.quantity)">+</button>
      </div>
      <button class="cart-button" (click)="addToCart(product)">Add To Cart</button>
    </main>
  </div>
  <div class="also-like">You Might Also Like</div>
  <div class="products-grid">
    <button (click)="viewProduct(product)" *ngFor="let product of products">
      <div class="card">
        <div class="image-container">
          <img class="card-img" [src]="product.image" alt="product.name">
        </div>
        <h1>{{product.name | titlecase}}</h1>
        <h1>{{product.price | currency}}</h1>
        <h1 *ngIf="product.quantity <= 5">Only {{product.quantity}} Left</h1>
      </div>
    </button>
  </div>
</div>
