nav {
  /* make footer color, then not on home we use that style */
  background-color: hsl(200deg, 73%, 75%);
  height: min-content;
  padding: 48px;
  position: relative;
  z-index: 34;
}

nav h1:first-of-type {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  font-family:Helvetica;
  margin-right: auto;
  margin-left: auto;

}

@keyframes slide-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.b-options {
  display: none;
}

.show {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  animation: slide-in 700ms ease-in-out both;
}

.X {
  color: black;
}

.coffee {
  width: 35px;
  height: 35px;
  display: block;
  padding-top: 8px;
  color: white !important;
}

.cart {
padding-top: 2px;
width: 35px;
display: block;
padding-right: 8px;
height: 35px;
color: white;
}

 svg {
  display: block;
}

.imenu {
  width: 50px;
  height: 50px;
}

.menu-bar {
  display: none;
  margin-bottom: 2px;
}

.hide {
  display: none !important;
}

.logo {
  display: flex;
  gap: 32px;
  align-items: baseline;
  padding-left: 16px;
  font-size: 1.15rem;
}

.logo > button {
  color:white;
  padding-bottom: 15px;
  font-size: 1.5rem;
}


.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;

}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .2s;
  margin-top: 8px;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
  margin-top: 8px;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: var(--font-weight-light);
  font-size: 1.5rem;
}

.options > button {
  color: white;
}

.options:last-child {
  padding-right: 16px;
}

.transparent-bg {
  background-color: transparent;
}

@media (max-width: 900px) {
  .logo {
    display: none;
  }

  .options {
    display: none;
  }

  .menu-bar {
    display: block;
    margin-left: 16px;
  }

  nav {
    justify-content: space-evenly;
    align-items: flex-end;
  }

  nav h1:first-of-type {
    margin: auto;
  }
}

@media (max-width: 550px) {
  .logo {
    display: none;
  }

  .options {
    display: none;
  }

  .menu-bar {
    display: block;
    margin-left: 16px;
  }

  nav {
    justify-content: center;
    align-items: center;
  }

  nav h1:first-of-type {
    display: none;
  }
}
/* //desktop styles */
@media (min-width: 901px) {
  .show {
    display: none;
  }
}





