<header>
<div class="super-header text-white"> Free Shipping on all orders $50.00+ </div>
    <nav id="nav" [ngClass]="{
  'transparent-bg': transparent
}">
      <div class="logo">
        <div class="title">
          <h1>Coffee Brothers</h1>
        </div>
        <div class="button-container">
        <button class="cool-link" style="color: black;" routerLink="/home">Home</button>
        <button class=" cool-link" style="color:black;" routerLink="/products">Shop</button>
        <button class="cool-link" style="color:black;" routerLink="/viewproduct">Coffee Blends</button>
        <button [ngStyle]="{'position' : 'relative'}" class=" icon cool-link" style="color: black;" routerLink="/viewcart">
          <div *ngIf="currentCart$ | async as cart">
            <div *ngIf="cart.size > 0" class="cart-size">
              {{cart.size}}
            </div>
          </div>
          <i-feather name="shopping-cart"class="cart" style="color: black;"></i-feather>
        </button>
      </div>
      </div>
      <div class="menu-bar" id="menubar"><button (click)="showOptions()"><i-feather name="menu"
            class="imenu"
            [ngClass]="{
            'black-menu' : !transparent
            }"></i-feather></button></div>
      <div class="b-options" id="burgerOptions">
        <button (click)="backToBurger()"><i-feather name="x" class="X"></i-feather></button>
        <button class="text-white cool-link" routerLink="/home">Home</button>
        <button class="text-white cool-link" routerLink="/products">Shop</button>
        <button class="text-white cool-link" routerLink="/viewcart">Cart</button>
      </div>
    </nav>
  </header>
