<header>
  <section>
<div class="super-header text-white"> Free Shipping on all orders $50.00+ </div>
</section>
    <nav id="nav">
      <article class="logo">
        <div class="title">
          <h1>Coffee Brothers</h1>
        </div>
        <section class="link-container">
        <a class="cool-link" routerLink="/home">Home</a>
        <a class="cool-link" routerLink="/products">Shop</a>
        <a class="cool-link" routerLink="/viewproduct">Coffee Blends</a>
        <a class="cool-link" routerLink="/viewcart">
          <div *ngIf="currentCart$ | async as cart" class="cart-size-parent">
            <div *ngIf="cart.size > 0" class="cart-size">
              {{cart.size}}
            </div>
          </div>
          <i-feather name="shopping-cart"class="cart"></i-feather>
        </a>
      </section>
    </article>
      <div class="menu-bar" id="menubar"><a (click)="showOptions()">
        <i-feather name="menu"class="imenu"></i-feather></a></div>
      <section class="b-options" id="burgerOptions">
        <button (click)="backToBurger()"><i-feather name="x" class="X"></i-feather></button>
        <a class="text-white cool-link" routerLink="/home">Home</a>
        <a class="text-white cool-link" routerLink="/products">Shop</a>
        <a class="text-white cool-link" routerLink="/viewproduct">Blends</a>
        <a class="text-white cool-link" routerLink="/viewcart">Cart</a>
      </section>
    </nav>
  </header>
