*,
*::before,
*::after {
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
  min-height: 5rem;
  padding: 48px;
}

nav h1:first-of-type {
  color: black;
  font-size: 3rem;
  font-weight: 500;
  font-family:Helvetica;
  margin-right: auto;
  margin-left: auto;

}

.logo {
  display: flex;
  gap: 16px;
  padding-left: 16px;
  font-weight: var(--font-weight-light);
  font-size: 1.15rem;
}

.logo > button {
  color:gray;
}

.logo > button:hover {
  text-decoration: underline;
  color: hsla(209, 89%, 48%, 0.815);
}

.options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: var(--font-weight-light);
  font-size: 1.15rem;
}

.options > button {
  color: gray;
}

.options > button:hover {
  text-decoration: underline;
  color: hsla(209, 89%, 48%, 0.815);
}

.options:last-child {
  padding-right: 16px;
}




