<nav class="flex flex-row justify-evenly items-center bg-white">
  <div class="logo">
  <button class="text-black clicked" routerLink="/home"><i-feather name="coffee"></i-feather></button>
  <button class="text-black clicked" routerLink="/home">Our Story</button>
  <button class="text-black clicked" routerLink="/home">Blog</button>
  </div>
  <h1>Coffee Brothers</h1>
  <div class="options">
    <button class="clicked">Log In</button>
    <button class="clicked" routerLink="/viewcart"><i-feather name="shopping-cart"></i-feather></button>
  </div>
  <div class="menu-bar"><button><i-feather name="menu"></i-feather></button></div>
</nav>
