.flex-success {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.success {
  font-size: 6rem;
  color: green;
  letter-spacing: 0.02em;
  font-size: 500;
}
