body {
  height: 100%;
}


.wrapper {
  --min-size: 500px;
  min-height: 100%;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns:
    repeat(auto-fill, minmax(min(var(--min-size), 100%), 1fr));
  justify-content: center;
  align-items: baseline;
  gap: 32px;
  padding: 16px;
}

.wrapper>button {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.card-img {
  padding-bottom: 16px;
  padding-top: 16px;
  object-fit: cover;
  aspect-ratio: 3/1;
}

.product-name {
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
}

.quantity-grid {
  color:hsla(187, 8%, 78%);
  padding-top: 4px;
}
