body {
  height: 100%;
  width: 100%;
}

.parent-wrapper {
  padding: 64px;
  width: 100%;
}

.spacer {
  height: 75px;
}

.hero-summary {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}

.hero-heading {
  font-size: 4rem;
  font-weight: var(--font-weight-title);
  margin-bottom: 16px;
  text-align: justify;
}

.hero-text {
  font-size: 1.25rem;
  flex: 1;
}

.hero-float {
  flex: 1;
  height: 200px;
}

.wrapper {
  --min-size: 500px;
  min-height: 100%;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns:
  repeat(auto-fill, minmax(min(var(--min-size), 100%), 1fr));
  justify-items: center;
  align-content: center;
  gap: 32px;
  padding: 16px;
}

.wrapper>button {
  height: 100%;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 4px;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -moz-box-pack: justify;
  max-width: 344px;
}

.product-button:hover .product-name {
  color: hsla(26, 94%, 58%, 1);
}

.card-img {
  background-color: white;
  padding: 16px;
  object-fit: contain;
  height: 214px;
  width: 100%;
  transition: transform 300ms ease-out;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px;
  gap: 8px;
}

.product-name {
  font-size: 1.15rem;
  font-weight: var(--font-weight-medium);
  transition: color 125ms;
}

.quantity-grid {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  width: fit-content;
  height: fit-content;
  border-radius: 30px;
  color: white;
  text-align: center;
  background-color: #e54a2b;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 1;
  padding: 0.6rem 1.3rem;
  font-family: Montserrat, sans-serif;
}

.award-container {
  width: calc(100% + 128px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background-color: white;
  height: 350px;
  margin-left: -64px;
  margin-right: -64px;
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ),
 url('src\assets\static\images\victor-he-yam1KMv0SgQ-unsplash.jpg');
  background-position: 30%;
  padding: 16px;
  background-size: cover;
  gap: 10px;
  isolation: isolate;
  z-index: 0;
}

.award-first {
  font-size: 1.35rem;
  max-width: 100ch;
  color: white;
  font-weight: var(--font-weight-dark);
  word-wrap: break-word;
  hyphens: auto;
  letter-spacing: .5rem;
  z-index:1;
  align-self: start;
  padding-top: 32px;
  transform: translateX(5%);
}

.award-text {
  font-size: 1.35rem;
  max-width: 100ch;
  color: white;
  font-weight: var(--font-weight-dark);
  word-wrap: break-word;
  hyphens: auto;
  letter-spacing: .5rem;
  z-index: 1;
  justify-self: end;
  align-self: center;
  padding-bottom: 32px;
}


/* Star Css */
.star {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-500%);

  display: inline-block;
  width: 0;
  height: 0;

  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;

  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #FC0;
  border-left:   .3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 32px;
}

  .star:before, .star:after {
    content: '';

    display: block;
    width: 0;
    height: 0;

    position: absolute;
    top: .6em;
    left: -1em;

    border-right:  1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   1em solid transparent;

    transform: rotate(-35deg);
  }

  .star:after {
    transform: rotate(35deg);
  }


  .bottom-border {
    border-bottom: 1px solid gray;
  }

  .cold-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, minmax(0,1fr));
    gap: 32px;
    align-items: baseline;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
  }

  .cold-grid-disPic {
    grid-column: 1/ span 2;
    grid-row: span 2;
    height: 80%;
    width: 90%;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('https://images.unsplash.com/photo-1592663527359-cf6642f54cff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29sZCUyMGJyZXclMjBjb2ZmZWV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 32px;
    background-position: center;
  }

  .blend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-self: start; */
    /* align-self: center; */
    height: 80%;
    width: fit-content;
    gap: 16px;
    will-change: transform;
    transition: transform 300ms ease-in-out;
  }

  .blend:hover img {
    transform: scale(1.05);
  }

  .blend:hover .grid-name {
    color:#e54a2b;
  }

  .blend img {
    overflow: hidden;
    will-change: transform;
    transition: transform 300ms ease-in-out;
  }

  .bottle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: fit-content;
    /* justify-self: start;
    align-self: center; */
    gap: 16px;
  }

  .bottle:hover img {
    transform: scale(1.05);
  }

  .bottle:hover .grid-name {
    color:#e54a2b
  }

  .bottle img {
    transition: transform 300ms ease-in-out;
    will-change: transform;
    overflow: hidden;
  }

  .grid-name {
    font-size: 1.15rem;
    font-weight: var(--font-weight-medium);
    white-space: nowrap;
    will-change: color;
    transition: color 125ms;
  }

  .cold-img {
    height: 90%;
  }


  /* tablet styles */

  @media (max-width: 900px) {
    .cold-grid {
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      gap: 16px;
    }

    .cold-grid .cold-grid-disPic {
      grid-column: 1 / span 2;
      grid-row: 1;
      height: 750px;
      width: 100%;
    }

    .cold-grid .blend,
    .cold-grid .bottle {
      grid-column: auto;
      grid-row: 2;
    }

    .hero-heading {
      text-align: center;
      font-size: 3rem;
    }
  }

  /* Phone styles */

  @media (max-width: 600px) {
    .cold-grid .blend   {
      grid-column: auto;
      grid-row: 2;
    }

    .cold-grid .bottle {
      grid-column: auto;
      grid-row: 3;
    }

    .grid-name {
      white-space: revert;
    }

    .hero-heading {
      font-size: 2rem;
    }

    .hero-summary {
      flex-direction: column;
    }
  }

