/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


*,
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}


body {
  font-family: "Roboto","Raleway",Helvetica,sans-serif;
  --font-weight-light: 315;
  --font-weight-medium: 630;
  --font-weight-title: 580;
  --font-weight-dark: 945;
}

