/* desktop to mobile approach: media queries are at the end of the file */

body {
  height: 100%;
  width: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
  gap: 20px;
  height: 100%;
  width: 100%;
  background-color: white;
  isolation: isolate;
  overflow: clip;
}

.sticky-container {
  position: sticky;
  top: 100px;
  height: min-content;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.item {
  flex: 1;
  flex-basis: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: hsl(42.35,54.84%,93.92%);
  border-radius: 8px;
  box-shadow: var(--side-shadow);
}

.img-container-hero {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.img-container-hero img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  box-shadow: var(--side-shadow);
}

.item-large {
 background-color: var(--color-secondary);
}

.photo-info {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.photo-info h1 {
  border-radius: 4px;
  color: hsl(45.71,60%,6.860000000000001%);
  padding: 4px;
  font-size: 1.50rem;
  letter-spacing: .2rem;
  font-weight: 400;
}

.card-section .item:nth-child(1) h1{
  background-color: var(--color-secondary);
}

.card-section .item:nth-child(2) h1 {
  background-color: var(--color-primary);
}

.card-section .item:nth-child(3) h1 {
  background-color: var(--color-secondary);
}

.word-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.word {
  font-size: 2rem;
  text-transform: uppercase;
  color:  hsl(45.71,60%,6.860000000000001%);
}

.middle {
  color: black;
}

.photo-info h3 {
  color:  hsl(45.71,60%,6.860000000000001%);
  font-size: 1.2rem;
  font-weight: 500;
}

.home-welcome {
  font-weight: var(--font-weight-medium);
  color: black;
  margin-bottom: 16px;
  font-size: 5rem;
  text-align: center;
  padding: 8px;
}

.shop-button {
  padding: 10px 20px;
  color: white;
  background-color: var(--color-secondary);
  height: 75px;
  width: 200px;
  font-weight: var(--font-weight-medium);
  border: 4px solid white;
  will-change: transition;
  transition: background-color 100ms, color 100ms;
}

.shop-button:hover {
 background-color: var(--color-primary);
 color: black;
}

.statements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--color-secondary);
  width: 100%;
}

.statements.two {
  background-color:  var(--color-primary);
}

.statements h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 32px;
  text-align: center;
  letter-spacing: 0.02em;
}

.statements p {
  font-size: 1.15rem;
  text-align: justify;
  font-weight: 500;
}

.statements button {
  padding: 8px;
  width: 150px;
  height: 50px;
  color: white;
  background-color: hsla(187, 8%, 78%);
  margin-top: 24px;
  font-weight: var(--font-weight-medium);
  transition: transform 400ms;
  border: 2px solid black;
  letter-spacing: 2px;
  will-change: transform;
}

.statements button:hover {
 transform: scale(105%);
}

.product-advertise {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 100%;
}

.img-container {
  overflow:hidden;
}

.white-border {
  border: 2px solid white;
  box-shadow: -8px 12px 2px hsl(0deg 0% 0% / 0.25);
}

.img-container:hover img {
  transform: scale(105%);
  will-change: transform;
}

.product-advertise img {
  width: 100%;
  object-fit: cover;
  display: block;
  transition: transform 400ms;
  will-change: transform;
}

.product-button {
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  transition: transform 400ms;
  will-change: transform;
}

.product-button:hover {
  transform: scale(105%);
}

.product-button button {
  padding: 8px;
  width: 150px;
  height: 50px;
  color: black;
  letter-spacing: 2px;
  font-weight: var(--font-weight-medium);
  background: var(--color-tertiary);
  will-change: backgrond-color;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.product-button button:hover {
  background-color: var(--color-tertiary-monochromatic);
  color: white;
}

.spacer {
  display: block;
  height: 6rem;
  width: 100%;
  background-color: white;
}



.cool-image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 800px;
  width: 100%;
  padding: 16px;
  gap: 16px;
}

.carousel-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 80%;
  will-change: transform;
  transition: transform 1.2s ease-in-out;
}


.middle-img {
  height:100%;
  transform: scale(1.0);
}

.left-img {
  transform: scale(0.8);
}

.right-img {
  transform: scale(0.8);
}

.carousel-shadow {
  box-shadow: var(--main-shadow);
}

.side-shadow {
  box-shadow: var(--side-shadow);
}

.carousel-image-subtitle {
  position: relative;
  top: 20px;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.carousel-img-container img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  will-change: transform;
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
  border-radius: 16px;
}

.carousel-img-container img:hover {
  transform: scale(1.05);
}

.carousel-btn {
  height: 50px;
  width: 50px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 50%;
  color: black;
}

.carousel-btn i {
  position: relative;
}

.carousel-btn:first-child:hover i.fa-arrow-left {
  right: 5px;
}

.carousel-btn:last-child:hover i.fa-arrow-right {
  left: 5px;
}

.home-ending {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  padding: 32px;
  gap: 32px;
  background: linear-gradient(285deg, rgba(255,255,255,0) 0%, var(--color-secondary) 69%);
  width: 100%;
}

.home-ending-child {
  grid-column: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 400ms;
  overflow: hidden;
}

.home-ending-img {
  width:75%;
  height: 75%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  box-shadow: var(--side-shadow);
}

.home-ending-last-child {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px;
  padding-top: 32px;
}

.ending-header {
  font-size: 2.5rem;
  font-weight: 500;
}

.ending-paragraph::before {
  content: '-';
  margin-right: 2px;
}

.ending-paragraph:first-of-type {
  margin-top: 64px;
}


.ending-paragraph {
  font-size: 1.15rem;
  font-weight: 500;
  word-wrap: break-word;
  hyphens: auto;
}

.img-container {
  justify-self: center;
  align-self: center;
  width: 250px;
  height: 250px;
}


.img-container  > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cool img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 50%;
  aspect-ratio: 4/1;
}

/* product animation styles */
.flex-animation {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 16px;
  overflow: hidden;
}

.flex-animation-product-container {
  position: absolute;
  height: 200px;
  width: 200px;
  padding: 8px;
  overflow: hidden;
  will-change: transform;
  transform: translateX(0px);
  cursor: pointer;
}

.flex-animation-product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  will-change: transform;
  transition: transform 0.2s ease-in-out;
}

/* end flex animation styles */

/* wavy backgrond styles */
.custom-shape-divider-top-1690040930 {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1690040930 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 107px;
}

.custom-shape-divider-top-1690040930 .shape-fill {
  fill: #FFFFFF;
}
/* end wavy background styles */

/* Laptop styles */
@media (max-width: 1150px ) {
    .wrapper {
      background-color: white;
      grid-template-columns: minmax(200px, 1fr);
      gap: 64px;
    }

    .info-section {
      position: sticky;
      top: 0;
      background-color: white;
      border-bottom: 2px solid black;
      padding-bottom: 8px;
    }

    .home-welcome {
      font-size: 3rem;
    }
  }

  /* For carousel responsive */
  @media (max-width: 1100px){
    .carousel-btn {
      display: none;
    }

    .cool-image-container {
      overflow: scroll;
      justify-content: flex-start;
    }

    .carousel-img-container {
      min-width: 300px;
      transform: none;
    }
  }


/* Tablet Styles */

@media (max-width: 950px){
  .wrapper {
    background-color: white;
  }

  .product-advertise {
    flex-direction: column;
    gap: 200px;
  }
}

/* for bottom ending grid to stack vertical */
@media (max-width: 800px){
  .home-ending {
    grid-template-rows: 1fr 1fr;
  }

  .home-ending-child {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .home-ending-last-child{
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}


/* for coffee items on landing view */
@media (max-width: 630px){
  .item {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0.5;
    padding: 32px;
  }

  .img-container-hero img {
    object-fit: contain;
  }

  .home-welcome {
    font-size: 2rem;
  }
}

/* Mobile Styles */
@media (max-width: 550px){
    .photo-info {
      flex-shrink: 100;
      font-size: 1rem;
    }

    .img-container-hero > img {
      border-radius: 4px;
    }

    .word {
      font-size: 1.5rem;
    }

    .home-ending-img {
      width: 100%;
      height: 75%;
    }
}

/* miscellanous query -- to adjust position of middle spanned image--coffee mug*/
@media (max-width: 450px){
  .cool-image-container {
    background-position: 20% 20%;
  }

  .home-ending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ending-header {
    font-size: 2rem;
  }

  .home-welcome {
    font-size: 1.5rem;
  }

}


/* prevent white-space in welcome container */
@media (max-width: 350px) {
  .home-welcome {
    font-size: 1.25rem;
  }

  .info-section {
    width: 100%;
  }

  .flex-animation-product-container {
    width: 150px;
  }

  .ending-header {
    font-size: 1.75rem;
  }

}

/* for bubbles */
.bubbles{
  position:absolute;
  top: 20px;
  width:100%;
  height: 100%;
  z-index:-1;
  overflow:clip;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  border-radius:50%;
  opacity:1;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(odd){
  background: var(--color-primary);
}
.bubble:nth-child(even){
  background-color: var(--color-secondary);
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:2042px;
    transform:translateX(-200px);
  }
}
/* end bubbles */





