body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-image: url('https://images3.alphacoders.com/941/thumb-1920-94135.jpg');
  background-size: cover;
  background-position: 30% 15%;
}

.home-welcome {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
  font-size: 4rem;
}

.shop-button {
  color: white;
  background-color: black;
  height: 50px;
  width: 150px;
  border-radius: 2rem;
}


