/* desktop to mobile approach: media queries are at the end of the file */

body {
  height: 100%;
  width: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;
  width: 100%;
  background-color: hsl(50.48,96.6%,53.92%,1);
}

.info-section {
  grid-column: 1;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.center-content-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.hero-section {
  height: fit-content;
  grid-column: 2;
  justify-self: center;
  align-self: center;
}

.img-container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  padding: 16px;
  height: 100%;
  width: 100%;
}

.rotate-right {
  transform: rotate(5deg) translateX(-10px);
}

.rotate-left {
  transform: rotate(-5deg) translateX(10px);
  background: hsl(165.56,79.41%,13.33%, 1);
}

.img-container-hero > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.large-img {
  border-radius: 16px;
}

.item {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  background: hsl(42.35,54.84%,93.92%);
  border-radius: 8px;
  overflow: hidden;
  will-change: transform;
  transition: 250ms ease-out;
}

.item:hover {
  transform: scale(1.2);
}

.item-small {
  grid-column: 1/-1;
  grid-row: 1;
  max-width: 50%;
  justify-self: end;
}

.item-large {
 grid-column: 1 / -1;
 grid-row: 2;
 max-width: 75%;
 justify-self: start;
 margin-top: 10px;
}

.item-last {
  grid-column: 1/-1;
  grid-row: 3;
  max-width: 50%;
  justify-self: end;
}

.photo-info {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.photo-info h1 {
  background-color: hsl(50.48,96.6%,53.92%,1);
  border-radius: 4px;
  color: hsl(45.71,60%,6.860000000000001%);
  padding: 4px;
  font-size: 1.50rem;
  letter-spacing: .2rem;
  font-weight: 600;
}

.word-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.word {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color:  hsl(45.71,60%,6.860000000000001%);
}

.middle {
  color: hsl(42.35,54.84%,93.92%);
}

.photo-info h3 {
  color:  hsl(45.71,60%,6.860000000000001%);
  font-size: 1.2rem;
  font-weight: 500;
}

.home-welcome {
  font-weight: var(--font-weight-medium);
  color: white;
  margin-bottom: 16px;
  font-size: 5rem;
  text-align: center;
  padding: 8px;
}

.shop-button {
  padding: 10px 20px;
  color: white;
  background-color: black;
  height: 75px;
  width: 200px;
  font-weight: var(--font-weight-medium);
  border: 4px solid white;
  will-change: transition;
  transition: background-color 100ms, color 100ms;
}

.shop-button:hover {
 background-color: white;
 color: black;

}

.statements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: hsl(165.56,79.41%,47.33%, 1);
  width: 100%;
}

.statements.two {
  background-color: white;
}

.statements h1 {
  font-weight: var(--font-weight-medium);
  font-size: 2.5rem;
  margin-bottom: 32px;
  text-align: center;
}

.statements p {
  font-size: 1.15rem;
  text-align: justify;
  font-weight: 400;
}

.statements button {
  padding: 8px;
  width: 150px;
  height: 50px;
  color: white;
  background-color: hsla(187, 8%, 78%);
  margin-top: 24px;
  font-weight: var(--font-weight-medium);
  transition: transform 400ms;
  border: 2px solid black;
  letter-spacing: 2px;
  will-change: transform;
}

.statements button:hover {
 transform: scale(105%);
}

.product-advertise {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 100%;
}

.img-container {
  overflow:hidden;
}

.white-border {
  border: 2px solid white;
  box-shadow: -8px 12px 2px hsl(0deg 0% 0% / 0.25);
}

.img-container:hover img {
  transform: scale(105%);
  will-change: transform;
}

.product-advertise img {
  width: 100%;
  object-fit: cover;
  display: block;
  transition: transform 400ms;
  will-change: transform;
}

.product-button {
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  border: 2px black solid;
  transition: transform 400ms;
  will-change: transform;
}

.product-button:hover {
  transform: scale(105%);
}

.product-button button {
  padding: 8px;
  width: 150px;
  height: 50px;
  color: white;
  letter-spacing: 2px;
  font-weight: var(--font-weight-medium);
  background-color: hsla(187, 8%, 78%);
}

.spacer {
  display: block;
  height: 6rem;
  width: 100%;
  background-color: white;
}



.cool-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  width: 100%;
  padding: 16px;

}

.carousel-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 75%;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.2);
}

.carousel-img-title {
  position: absolute;
  top: 0;
  font-size: 3rem;
  color: hsl(45.71,60%,6.860000000000001%);
  font-weight: 700;
  transform: translateY(-125%);
  background-color: #FF8DBD;
  padding: 16px;
  border-radius: 8px;
  letter-spacing: 0.02em;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.carousel-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  border: 2px solid white;
}

.carousel-current {
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 16px;
  bottom: 0;
  transform: translateY(125%);
  padding: 4px;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
}

.carousel-fill-circle {
  background-color: white;
}

.carousel-btn {
  height: 100px;
  width: 100px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 50%;
  color: white;
}

.carousel-btn:hover {
  background-color: black;
}



.product-end {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns:
  repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  place-content: center;
  padding: 32px;
  gap: 32px;
  background-color: hsl(50.48,96.6%,53.92%,1);;
  width: 100%;
}

.product-end img {
  display: block;
  transition: transform 400ms;
}

.img-container {
  justify-self: center;
  align-self: center;
  width: 250px;
  height: 250px;
}


.img-container  > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cool img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 50%;
  aspect-ratio: 4/1;
}

/* Laptop styles */
@media (max-width: 1150px ) {
    .wrapper {
      background-color: hsl(50.48,96.6%,53.92%,1);
      display:flex;
      flex-direction: column;
      gap: 64px;
    }
  }


/* Tablet Styles */

@media (max-width: 950px){
  .wrapper {
    background-color: hsl(50.48,96.6%,53.92%,1);
  }

  .product-advertise {
    flex-direction: column;
    gap: 200px;
  }
}
/* for coffee items on landing view */
@media (max-width: 630px){
  .center-content-2 {
    place-content: center;
  }
  .item {
    justify-self: center;
  }

  .item-large {
    margin-bottom: 15px;
  }
}

/* Mobile Styles */
@media (max-width: 550px){
/* not much to put for now, design is pretty fluid at the moment */
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .img-container-hero {
      width: 75%;
      height: 75%;
    }

    .photo-info {
      flex-shrink: 100;
      font-size: 1rem;
    }

    .img-container-hero > img {
      border-radius: 4px;
    }

    .word {
      font-size: 1.5rem;
    }
}

/* miscellanous query -- to adjust position of middle spanned image--coffee mug*/
@media (max-width: 450px){
  .cool-image-container {
    background-position: 20% 20%;
  }
}


/* prevent white-space in welcome container */
@media (max-width: 350px) {
  .home-welcome {
    width: 100%;
    font-size: 4rem;
  }
}




/* testing for flex animation */
.flex-animation {
  width: 100%;
  height: fit-content;
  padding: 16px;
  gap: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flex-animation-product-container {
  position: relative;
  height: 200px;
  width: 200px;
  padding: 8px;
  overflow: hidden;
}

.flex-animation-product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  will-change: transform;
  transition: transform 0.2s ease-in-out;
}
