<div class="main-wrapper">
<div class="wrapper">
  <div class="info-section">
    <div class="center-content">
<h1 class="home-welcome">
Discover the power of coffee
</h1>
<button class="shop-button" routerLink="/products">Shop Now</button>
</div>
</div>
<div class="hero-section">
  <div class="center-content-2">
    <div class="item rotate-right item-small">
      <div class="photo-info">
        <h1 style="background-color: #7CE993">Light</h1>
        <div class="word-blocks">
<div class="word">start</div>
<div class="word">your</div>
<div class="word">day.</div>
        </div>
      <h3>Delicious!</h3>
      </div>
    <div class="img-container-hero">
      <img src="https://images.unsplash.com/photo-1524350876685-274059332603?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNvZmZlZSUyMGJlYW5zfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60">
    </div>
    </div>
    <div class="item rotate-left item-large"style="background-color: hsl(165.56,79.41%,47.33%, 1);">
      <div class="photo-info">
        <h1 style="background-color: #FF8DBD;">Medium</h1>
        <div class="word-blocks">
<div class="word middle">taste</div>
<div class="word middle">the</div>
<div class="word middle">magic.</div>
        </div>
      <h3 style="color: hsl(42.35,54.84%,93.92%);">Savory!</h3>
      </div>
    <div class="img-container-hero">
      <img style="border-radius: 16px;"  src="https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29mZmVlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60">
    </div>
    </div>
    <div class="item rotate-right item-last">
      <div class="photo-info">
        <h1>Dark</h1>
        <div class="word-blocks">
<div class="word">brew</div>
<div class="word">enjoy</div>
<div class="word">repeat.</div>
        </div>
      <h3>Yummy!</h3>
      </div>
    <div class="img-container-hero">
      <img id="unique-bg" src="https://images.unsplash.com/photo-1625021659159-f63f546d74a7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGNvZmZlZSUyMGJlYW5zfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60">
    </div>
    </div>
  </div>
</div>
</div>
<div class="spacer"></div>
<div class="statements">
  <h1>Only the Highest Quality Ingredients</h1>
  <p>...to ensure an exceptional and rich coffee experience.</p>
</div>
<div class="spacer"></div>
<div class="product-advertise">
  <div class="img-container" *ngFor="let product of advertisedProducts">
    <img [src]="product.image">
  </div>
</div>
<div class="product-button">
  <button (click)="scrollToTop()"  routerLink="/products">Shop Now</button>
</div>
<div class="spacer"></div>
<!-- carousel -->
<!-- <div id="color" class="cool-image-container">
  <button class="carousel-btn"
   (click)="moveRightColor()"
   (click)="updateCarouselBackgroundColor()"
   (click)="moveRight()"
   (click)="updateCarouselBackground()"
   (click)="updateCircle()"
   (click)="restartCarousel()">
    <i class="fa-solid fa-arrow-left fa-2xl"></i>
  </button>
  <div class="carousel-img-container">
    <div id="carousel-image-title" class='carousel-img-title'>Have A Blast!</div>
    <img id="carousel-image">
    <div class="carousel-current">
      <div class="circle carousel-fill-circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </div>
  <button class="carousel-btn"
  (click)="moveLeftColor()"
  (click)="updateCarouselBackgroundColor()"
  (click)="moveLeft()"
  (click)="updateCarouselBackground()"
  (click)="updateCircle()"
  (click)="restartCarousel()">
    <i class="fa-solid fa-arrow-right fa-2xl"></i>
  </button>
</div> -->
<!-- carousel -->
<div class="spacer"></div>
<div class="statements two">
  <h1>Wheres the Coffee?</h1>
  <p>Sign up with your email address to receive news and updates.</p>
  <button (click)="scrollToTop()" routerLink="/products">Subscribe</button>
</div>
<div class="spacer"></div>
<!-- testing for product animation -->
<div class="flex-animation" #flexContainer>
  <div
  *ngFor="let product of advertisedProducts"
   class="flex-animation-product-container"
   >
    <img class="flex-animation-product-img" [src]="product.image">
  </div>
</div>
<!-- end test for animation -->
<div class="spacer"></div>
<div class="product-end">

  <div class="img-container white-border">
    <img
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxeeZNFBwlqdkPQ6hBf5yyn5eQB_Ri9iH38Q&usqp=CAU"
     >
  </div>

  <div class="img-container white-border">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3CNC3RfAftaL8ILl45ISIxM_PmTURBChwXQ&usqp=CAU"
      >
  </div>

  <div class="img-container white-border">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzBtt7Wpf2TjXjo9hjSYgZWACF_Wb9oQ9W8jvh2wvm6otV9WwV_BhNvcH5vTZS9i8ETto&usqp=CAU"
      >
  </div>

</div>
<div class="spacer"></div>
</div>

