<div class="wrapper">
<h1 class="home-welcome">
Discover the power of coffee
</h1>
<button class="shop-button" routerLink="/products">Shop Now</button>
</div>
<div class="spacer first"></div>
<div class="statements">
  <h1>Only the Highest Quality Ingredients</h1>
  <p>...to ensure an exceptional and rich coffee experience.</p>
</div>
<div class="spacer"></div>
<div class="product-advertise">
  <div class="img-container" *ngFor="let product of advertisedProducts">
    <img [src]="product.image">
  </div>
</div>
<div class="product-button">
  <button routerLink="/products">Shop Now</button>
</div>
<div class="spacer"></div>
<div class="cool-image-container"></div>
<div class="spacer"></div>
<div class="statements two">
  <h1>Wheres the Coffee?</h1>
  <p>Sign up with your email address to receive news and updates.</p>
  <button routerLink="/products">Subscribe</button>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="product-end">

  <div class="img-container white-border">
    <img
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxeeZNFBwlqdkPQ6hBf5yyn5eQB_Ri9iH38Q&usqp=CAU"
     >
  </div>

  <div class="img-container white-border">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3CNC3RfAftaL8ILl45ISIxM_PmTURBChwXQ&usqp=CAU"
      >
  </div>

  <div class="img-container white-border">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzBtt7Wpf2TjXjo9hjSYgZWACF_Wb9oQ9W8jvh2wvm6otV9WwV_BhNvcH5vTZS9i8ETto&usqp=CAU"
      >
  </div>

</div>
<div class="spacer"></div>
